[Desktop Entry]
Name=Media
Exec=/home/voldemort/.config/scripts/apps/browser_media.sh
Icon=firefox
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=media-firefox
